#header
  %div{style: 'margin: 0 auto; width: 800px;'}
    - if current_user
      = link_to home_path do
        = image_tag 'logo.png'
    - else
      = link_to root_path do
        = image_tag('logo.png')
    - if current_user
      %div{style: 'float: right; padding-top: 12px;'}
        = link_to 'Logout', logout_path

