- set_css 'site/home'

.signup-form
  = form_tag signup_path do
    = hidden_field_tag 'redirect', home_path
    .name
      = label_tag 'name'
      = text_field_tag 'name'
    .email
      = label_tag 'email'
      = text_field_tag 'email'
    .password
      = label_tag 'password'
      = password_field_tag 'password'
    .password-confirmation
      = label_tag 'confirm password'
      = password_field_tag 'password_confirmation'
    .submit
      = submit_tag 'Sign Up!'

.login-form
  = form_tag login_path do
    = hidden_field_tag 'redirect', home_path
    .email
      = label_tag 'email'
      = text_field_tag 'email'
    .password
      = label_tag 'password'
      = password_field_tag 'password'
    .submit
      = submit_tag 'Login!'