- set_css 'game/play'
- set_javascript 'game/play'

%form.card{ finish: game_leaderboard_path }
    .card--image
        = image_tag @person.image
    %fieldset.card--content
        = form_tag game_check_path do
            = hidden_field_tag 'person_id', @person.id
            = search_field_tag 'guess'
.result
    .hit
        You Guessed right!
    .miss
        You Guessed wrong :-(
    %div
        Your guess:
        %span.guess
            .person
    %div
        Name:
        %span.name
.score
    %span
        Your Score:
        %span.score< #{@score}
        %span.rounds>< /#{@rounds}
    %span
        Remaining:
        %span.remaining #{@remaining}
%menu
    = button_tag 'Next', class: 'next'
    = button_tag 'Finish', class: 'finish'
