- set_css 'game'
- set_javascript 'game'

%h1 Your Score: #{@score}

.game
  .play
    = image_tag @person.image
    = form_tag game_check_path do
      = hidden_field_tag 'person_id', @person.id
      = text_field_tag 'guess'
  .hit
  .miss